// resets
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Segoe UI, sans-serif;
    font-size: 16px;

    @include media("<=1024px") {
        font-size: 15px;
    }
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

// variables
$col-white: #ffffff;
$col-gray-dark: #24292e;
$col-gray-neut: #a7a194;
$col-blue: #0366d6;
$col-text-sec: #586069;
$col-red-light: #f9826c;
$col-black: #000000;
$col-gray-light: #e8ebee;
$cardHeight: 70px;
$col-border: #e1e4e8;
$col-border-input: #3c444c;

// mixins/functions
@function to-em($size) {
    $remSize: $size / 10px;
    @return #{$remSize}em;
}

@mixin flex-center($justify: center) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

.c-input {
    text-indent: 15px;
    font-size: 14px;
    width: 100%;
    font-family: Segoe UI;
    outline: none;
    background: transparent;
    border: 1px solid $col-border-input;
    padding: 6px 0;
    border-radius: 5px;

    &:focus {
        border: 1px solid $col-blue;
    }
}

// generals
.max-width {
    max-width: 1600px;
    margin: 0 auto;
}

.flex-start {
    @include flex-center(flex-start);
}

.show-mobile {
    display: none;

    @include media("<tablet") {
        display: block;
    }
}

.show-mobile-flex {
    display: none;

    @include media("<tablet") {
        display: flex;
    }
}

.hide-mobile {
    @include media("<tablet") {
        display: none !important;
    }
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    color: $col-white;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

// skeletons
$base-color: #ddd;
$shine-color: #e8e8e8;
$animationDuration: 1.6s;

@mixin gradientBg {
    background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
    background-size: 600px;
}

.avatar {
    margin-top: 40px;
    position: relative;
    z-index: 3;

    &:empty {
        width: 100%;
        padding-top: 100%;
        border-radius: 50%;
        animation: shine-avatar $animationDuration infinite linear;
        @include gradientBg();

        @include media("<tablet") {
            width: 140px;
            height: 140px;
            padding-top: 0;
        }

        @include media("<=380px") {
            width: 100px;
            height: 100px;
            padding-top: 0;
        }
    }
}

.repos-skeleton {
    margin-top: 55px;

    .repo {
        margin-bottom: 50px;

        .title {
            &:empty {
                height: 16px;
                border-radius: 7px;
                max-width: 150px;
                width: 100%;
                animation: shine-lines $animationDuration infinite linear;
                @include gradientBg();
                margin-bottom: 30px;
            }
        }

        .subs {
            display: flex;
        }

        .sub {
            margin-right: 10px;

            &:empty {
                height: 10px;
                border-radius: 7px;
                max-width: 100px;
                width: 100%;
                animation: shine-lines $animationDuration infinite linear;
                @include gradientBg();
                margin-bottom: 20px;
            }
        }
    }
}

.lines {
    margin-top: 50px;

    .line {
        &:empty {
            height: 16px;
            border-radius: 7px;
            max-width: 150px;
            width: 100%;
            animation: shine-lines $animationDuration infinite linear;
            @include gradientBg();
            margin-bottom: 20px;
        }
    }
}



@keyframes shine-lines {
    0% {
        background-position: -100px;
    }

    40%,
    100% {
        background-position: 140px;
    }
}

@keyframes shine-avatar {
    0% {
        background-position: -32px;
    }

    40%,
    100% {
        background-position: 208px;
    }
}